#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}




/* just to try some css variables gpted to see if stuff works, need to change later  */
.destination-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
}


.destination-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.destination-box img {
  width: 100%;
  height: auto;
  display: block;
}

.destination-info {
  padding: 8px;
  text-align: center;
}

.destination-rating {
  
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  padding: 16px;
}

.review-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.review-button {
  border: 1px solid #ccc;
}
.radioButtonsTesting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.radioPair {
  padding: 25px;
}

.adminChoice {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.adminButtonChoice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5%;
}
